<ion-list lines="none" inset="false">
  <ion-item mode="md" [class.active]="service.periodString == 'Nie'" (click)="setRepeat('Nie')" class="ion-text-center"
    lines="none" button>
    <ion-label>
      Nie
    </ion-label>
  </ion-item>
  <ion-item mode="md" [class.active]="service.periodString == 'Täglich'" (click)="setRepeat('Täglich')"
    class="ion-text-center" lines="none" button>
    <ion-label>
      Täglich
    </ion-label>
  </ion-item>
  <ion-item mode="md" [class.active]="service.periodString == 'Wöchenltich'" (click)="setRepeat('Wöchentlich')"
    class="ion-text-center" lines="none" button>
    <ion-label>
      Wöchentlich
    </ion-label>
  </ion-item>
  <ion-item mode="md" [class.active]="service.periodString == 'Monatlich'" (click)="setRepeat('Monatlich')"
    class="ion-text-center" lines="none" button>
    <ion-label>
      Monatlich
    </ion-label>
  </ion-item>
  <ion-item mode="md" [class.active]="service.periodString == 'Jährlich'" (click)="setRepeat('Jährlich')"
    class="ion-text-center" lines="none" button>
    <ion-label>
      Jährlich
    </ion-label>
  </ion-item>
  <ion-item mode="md" class="ion-text-center" lines="none" button>
    <ion-label>
      Alle X Tage/Wochen/Monate
    </ion-label>
  </ion-item>
</ion-list>