<ion-card (click)="presentModal()" style="cursor: pointer;">
    <ion-item lines="full" color="light">
        <ion-icon slot="start" size="large" color="primary" name="power"></ion-icon>
        <ion-label>Redlight</ion-label>
        <ng-container *ngIf="schedulers.length > 0">
            <ion-icon color="success" size="large" name="alarm"></ion-icon>
        </ng-container>
    </ion-item>

    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width:65%">Aktueller Status</td>
                <td style="width:35%" class="align_right" translate>General.on</td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>