<ion-card button (click)="presentModal()">
    <ion-item lines="full" color="light">
        <ion-icon slot="start" size="large" color="primary" name="clipboard"></ion-icon>
        <ion-label>Scheduler</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width: 65%">
                    Konfiguriert
                </td>
                <td style="width: 35%" class="align_right">
                    {{schedulers.length + 1}}
                </td>
            </tr>
            <tr>
                <td style="width: 65%">
                    Sonstige verfügbare
                </td>
                <td style="width: 35%" class="align_right">
                    2
                </td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>