<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-buttons slot="start">
      <ion-icon size="large" name="alarm"></ion-icon>
    </ion-buttons>
    <ion-title>Scheduler</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="setScheduler == false">
    <ion-grid style="height: 100%;">
      <ng-container *ngFor="let item of schedulers">
        <ion-item lines="full">
          <ion-label>
            {{ item.name }}
            <ion-note>
              testomesto
            </ion-note>
          </ion-label>
          <ion-icon slot="end" name="settings"></ion-icon>
          <ion-icon slot="end" (click)="removeScheduler()" name="close"></ion-icon>
        </ion-item>
      </ng-container>
      <ion-row class="ion-justify-content-center ion-padding-top">
        <ion-button (click)="setScheduler = true">
          neuer scheduler
        </ion-button>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ion-grid *ngIf="setScheduler == true || setScheduler == null">
    <table class="full_width">
      <tr>
        <td style="width: 50%">
          Name:
        </td>
        <td style="width: 50%" class="align_right">
          <ion-item lines="inset">
            <ion-input [(ngModel)]="schedulerName" style="text-align: right;"></ion-input>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td style="width: 50%">
          Datum:
        </td>
        <td style="width: 50%" class="align_right">
          <ion-button (click)="presentDatePopover($event)">
            {{ scheduleDate.getText(translate) }}
          </ion-button>
        </td>
      </tr>
    </table>
    <table class="full_width">
      <tr>
        <td style="width: 35%">
          Ganztägig
        </td>
        <td style="width: 65%" class="align_right">
          <ion-toggle [(ngModel)]="allDay"></ion-toggle>
        </td>
      </tr>
    </table>
    <ion-row class="ion-justify-content-center" *ngIf="allDay == false">
      <ion-col size="6">
        <ion-item>
          <ion-datetime (ionChange)="updateVonTime($event)" placeholder="Von" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-datetime placeholder="Bis" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <table class="full_width">
      <tr style="padding-top: 20px;">
        <td style="width:65%">
          Wiederholen:
        </td>
        <td style="width:35%" class="align_right">
          <ion-button (click)="presentRepeatPopover()">
            {{ repeat }}
          </ion-button>
        </td>
      </tr>
    </table>
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-button (click)="presentConfigModal()">
        {{ isConfigSet == false? 'Konfiguration festlegen':'Konfiguration ändern' }}
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab *ngIf="setScheduler == true || setScheduler == null" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="applyScheduler()">
    <ion-icon size="large" name="checkmark-circle-outline">
    </ion-icon>
  </ion-fab-button>
</ion-fab>